body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
    background-image: url('raiden.jpg');
    background-size: cover; 
    background-position: center;
    

.container{
    text-align: center;
    background-color: rgb(from color r g b);
    padding: 20px;
    border: 1px solid 	#6495ED;
    border-radius: 10px;
    box-shadow: 0 0 10px  rgb(from color r g b);   
}

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #FF00FF;
    color: white;
    cursor: pointer;

}

button:hover {
    background-color: #FF00FF;
}

.hidden {
    display:none;
}

#result {
    font-size: 18px;
    margin-top: 20px;   
}

#attempts {
    font-size: 16px;
    margin-top:  10px;    
}

h1, p  {
    color: #8B008B;
    margin-bottom: 20px;
}
